.bash_history
.bg
.lesshst
.zcompdump
.viminfo
.pki
g/
.cache/
.config/ibus
.local/share/applications/*.desktop
.config/pulse
.config/fcitx/dbus
.local/share/gsettings-data-convert
.local/share/gvfs-metadata
.config/mozc
.config/QtProject.conf
.config/chromium/
.local/share/waydroid/
.config/fcitx5/conf/cached_layouts
